# Loading the Data in the excel to pandad data frame

In [151]:
import pandas as pd
import openpyxl
from datetime import datetime

# Reading the Year of Graduation dataset
find_graduation_data = pd.read_excel('Year of Graduation Final Lead Data.xlsx')

In [152]:
# Studying the Data
find_graduation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5303 entries, 0 to 5302
Data columns (total 18 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   ID                                                      5303 non-null   int64
 1   First Name                                              5303 non-null   object
 2   Email                                                   5303 non-null   object
 3   Gender                                                  200 non-null    object
 4   City                                                    55 non-null     object
 5   Created                                                 5303 non-null   object
 6   Position                                                6 non-null      object
 7   New College Name                                        1818 non-null   object
 8   Colleges                                                1681 non-null   object
 9   Academic Year                                           2518 non-null   float64
 10  Branch/ Specialisation                                  2520 non-null   object
 11  Other Branch                                            644 non-null    object
 12  What is your current academic year?                     131 non-null    object
 13  Company Name/ College Name                              238 non-null    object
 14  Would you like to know more about us and our programs?  5303 non-null   object
 15  Are you interested in knowing more about our events?    5303 non-null   object
 16  Have you recommended Cloud Counselage to anyone?        5303 non-null   object
 17  How did you come to know about this event?              155 non-null    object
dtypes: float64(1), int64(1), object(16)
memory usage: 745.9+ KB

#To find the year of graduation we can use the academic year and current academic year
finding the usefull columns for developing the prediction of Graduation year
out of all the 18 columns of data Academic year and "What is your current academic year? " are the ones we are interested in.

Getting a picture of how our required feature columns are.

In [153]:
#Academic Year Feature overview
find_graduation_data['Academic Year'].info()
find_graduation_data['Academic Year'].value_counts()

<class 'pandas.core.series.Series'>
RangeIndex: 5303 entries, 0 to 5302
Series name: Academic Year
Non-Null Count  Dtype
--------------  -----
2518 non-null   float64
dtypes: float64(1)
memory usage: 41.6 KB

3.0    1221
2.0     672
4.0     457
1.0     168
Name: Academic Year, dtype: int64

In [154]:
#What is your current academic year? Feature over view
find_graduation_data['What is your current academic year?'].info()
find_graduation_data['What is your current academic year?'].value_counts()

<class 'pandas.core.series.Series'>
RangeIndex: 5303 entries, 0 to 5302
Series name: What is your current academic year?
Non-Null Count  Dtype
--------------  -----
131 non-null    object
dtypes: object(1)
memory usage: 41.6+ KB

3rd Year      59
Final Year    41
2nd Year      20
1st Year      11
Name: What is your current academic year?, dtype: int64

#Inconsisteny in Academic Year and What is your current academic year? features
To solve this problem we are going to join both the colums a current academic year
First convert the What is your current academic year feature to integer data type.

In [155]:
# mapping year to 'What is your current academic year?' feature to convert to int type
year_maps={
    '1st Year': 1,
    '2nd Year': 2,
    '3rd Year': 3,
    'Final Year': 4
}

In [156]:
find_graduation_data['What is your current academic year?'] = find_graduation_data['What is your current academic year?'].map(year_maps)
find_graduation_data['What is your current academic year?'].value_counts()

3.0    59
4.0    41
2.0    20
1.0    11
Name: What is your current academic year?, dtype: int64

#Combining Academic Year and "What your current Year?" columns

In [157]:
acedemic_null_values=find_graduation_data['Academic Year'].isnull()
current_acc_year_no_null_value=find_graduation_data['What is your current academic year?'].notnull()
find_graduation_data.loc[acedemic_null_values & current_acc_year_no_null_value ,'Academic Year']=find_graduation_data['What is your current academic year?']
find_graduation_data['Academic Year'].info()
find_graduation_data['Academic Year'].value_counts()

<class 'pandas.core.series.Series'>
RangeIndex: 5303 entries, 0 to 5302
Series name: Academic Year
Non-Null Count  Dtype
--------------  -----
2538 non-null   float64
dtypes: float64(1)
memory usage: 41.6 KB

3.0    1227
2.0     674
4.0     465
1.0     172
Name: Academic Year, dtype: int64

#To remove the null values finding the statistics of the feature Academic Year

In [158]:
find_graduation_data['Academic Year'].mode()

0    3.0
Name: Academic Year, dtype: float64

In [159]:
find_graduation_data['Academic Year'].mean()

2.782111899133176

In [160]:
find_graduation_data['Academic Year'].median()

3.0

#Fixing the null vlaues
we observered that satistically 3 year students are more so filling the all null values with 3

In [161]:
find_graduation_data['Academic Year']=find_graduation_data['Academic Year'].fillna(3)
find_graduation_data['Academic Year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5303 entries, 0 to 5302
Series name: Academic Year
Non-Null Count  Dtype
--------------  -----
5303 non-null   float64
dtypes: float64(1)
memory usage: 41.6 KB

#Information Gained by looking at the feature columns
they are 4 different values for each of the feature('Academic Year' and 'What is your current academic year?')

It can be infered that the max year of study us 4 Year so a person in ..

1st acedemic year is expected to graduate in 3 years so his graduation year will be


**GRAD_Year = current_year - studnets_academic_year + 4(duration of the course since it is clear that course duration is 4 from the data analysis)**

In [162]:
current_year= datetime.now().year
duration=4 # as obesereved from the given data
def grad_pred_map(x):
  return current_year+duration-x
#creating a new column to store the graduation year values in same dataframe
find_graduation_data['Graduation_Year']=find_graduation_data['Academic Year'].map(grad_pred_map)

#Displaying Predicted values of the graduation years

In [163]:
print(find_graduation_data['Graduation_Year'])

0       2024.0
1       2024.0
2       2024.0
3       2024.0
4       2024.0
         ...
5298    2024.0
5299    2024.0
5300    2024.0
5301    2024.0
5302    2024.0
Name: Graduation_Year, Length: 5303, dtype: float64

#Adding the final results to new excel file

In [164]:
# Create a DataFrame with your data
old_data=pd.read_excel('Year of Graduation Final Lead Data.xlsx')
#adding the Academic Year and Graduaiton year column to the old excel data
old_data['Academic Year']=find_graduation_data['Academic Year']
old_data['Graduaiton Year']=find_graduation_data['Graduation_Year']

new_excel_file_path = 'Graduation Year New Lead Data Ouput.xlsx'

# Write the DataFrame to a new Excel file
old_data.to_excel(new_excel_file_path, index=False)

print("Data written to new Excel file:", new_excel_file_path)

Data written to new Excel file: Graduation Year New Lead Data Ouput.xlsx